body{
    width: 100%;
    height: auto;
    /*background: url('images/pirate.jpg');*/
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-size: cover;*/
    /*background-position: 50% 50%;*/
    margin: 0 auto;
    clear: both;
    position: relative;

}
canvas {
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 380px;
    height: 430px;
}

#score {
    display: block;
    position: absolute;
    margin: auto;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 325px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

#highScore {
    display: block;
    position: absolute;
    margin: auto;
    top: 125px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 325px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

/*#titlesign{ width: 350px; height: 276px; background-image: url(images/CapDanTitle.png); position: relative; left: -50%; top: 25px;}*/
/*#container{position: absolute; left: 50%; z-index: 999;}*/
/*#container2{position: absolute; left: 50%;}*/
/*#backgrondwaves{ width: 813px; height: 468px; background-image:url(images/gameScene.png); position: relative; left: -49%; top: 250px;}*/
